# This is an example environment configuration file.  You can create your own
# .env implementation or even just set these values directly on the environment
# via your CI server for example.

# NOTE!
# Any keys added here must also be added to the DefinePlugin in the
# webpackConfigFactory as we bundle both the client and server source with the
# environment variables baked in.

# The port on which to run our server.
SERVER_PORT=1337

# The port on which to run our client bundle dev server.
CLIENT_DEVSERVER_PORT=7331

# Disable SSR?
DISABLE_SSR=false

# Where should we output our server bundle? (relative to project root)
SERVER_BUNDLE_OUTPUT_PATH=./build/server

# Where should we output our client bundle? (relative to project root)
CLIENT_BUNDLE_OUTPUT_PATH=./build/client

# What should we name the file that contains details of all the files contained
# within our client bundle?
CLIENT_BUNDLE_ASSETS_FILENAME=assets.json

# What is the public http path at which we will serve our client bundle from?
CLIENT_BUNDLE_HTTP_PATH=/client-assets/

# How long should we set the browser cache for the client bundle assets?  Don't
# worry, we add hashes to the files, so if they change the new files will be
# served to browsers.
# We are using the "ms" format to set the length.
# @see https://www.npmjs.com/package/ms
CLIENT_BUNDLE_CACHE_MAXAGE=365d
