{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    // We use the 'import' plugin which allows for cases "flow" awareness.
    "no-duplicate-imports": 0,
    // A .jsx extension is not required for files containing jsx.
    "react/jsx-filename-extension": 0,
    // This rule struggles with flow and class properties.
    "react/sort-comp": 0,
    // We use global requires in various places, e.g. code splitting instances.
    "global-require": 0
  }
}
