{
  "rules": {
    "global-require": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "import/newline-after-import": 0,
    // Node v6 (es2015) does not support trailing function commas
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }]
  }
}
